@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.ParagraphWrapper{



}

.ParagraphWrapper:not(:focus) {
  filter: blur(4px);  /* Apply blur effect when the input is not focused */
}

.ParagraphWrapper:focus{
  outline:none;
}

.correct{
  color: green;
}

.incorrect{
  color: red;
  background-color: rgba(255, 0, 0, 0.2); /* Red background with 20% opacity */
}

.results-header-text{
  color: #000000;
}
.results-container{
  display: 'inline-block';
  background-color: lightgray;
  width: fit-content;
  height: fit-content;
}

/* Styling for Restart Button */

.sync-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sync-icon {
  transition: transform 0.3s ease-in-out;
}

.sync-button:hover .sync-icon {
  transform: rotate(180deg);
}


.sync-button::after {
  content: "Restart";
  position: absolute;
  bottom: -1.25rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 0.7em;
  pointer-events: none;
}

.sync-button:hover::after {
  opacity: 1;
}

/* END Restart Button */

/* Styling for Next Button */

@keyframes slide-right {
  0% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(6px);
  }
}

.next-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next-button:hover .next-icon{
  animation: slide-right 0.3s ease-in; /* Loop animation */
  transform: translateX(6px);
}

.next-button::after {
  content: "Next";
  position: absolute;
  bottom: -1.25rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 0.7em;
  pointer-events: none;
}

.next-button:hover::after {
  opacity: 1;
}
/* END Next Button */